[submodule "asm"]
	path = asm
	url = https://github.com/dragazo/CSX64-stdlib
[submodule "BiggerInts"]
	path = BiggerInts
	url = https://github.com/dragazo/BiggerInts
[submodule "ios-frstor"]
	path = ios-frstor
	url = https://github.com/dragazo/ios-frstor
